# 함수화한 모델

In [131]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity
import warnings

warnings.filterwarnings(action = 'ignore')

## 1. 데이터 로드 및 전처리

### 1.1. 데이터 로드

In [132]:
sample_df = pd.read_csv('final-sample-fix (1).csv',index_col=0)
sample_df.head(3)

,GU,DONG_CODE,DONG,SUBWAY_NUM,STARBUCKS_NUM,SAFE_DLVR_NUM,MC_NUM,KINDER_NUM,KIDS_NUM,GYM_NUM,GOLF_NUM,ACADEMY_NUM,ANIMAL_HSPT_NUM,BIKE_NUM,CAFE,CAR_SHR_NUM,CCTV_NUM,CHILD_MED_NUM,CON_NUM,DPTM_NUM
0,종로구,1111010100,청운동,0,0,0,0,0,0,0,0,2,1,0,8,0,0,0,1,0
1,종로구,1111010200,신교동,0,0,0,0,0,0,0,0,5,1,0,1,0,0,0,0,0
2,종로구,1111010300,궁정동,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0

In [133]:
sample_df.set_index('DONG_CODE',inplace=True)
sample_df.head(2)

,GU,DONG,SUBWAY_NUM,STARBUCKS_NUM,SAFE_DLVR_NUM,MC_NUM,KINDER_NUM,KIDS_NUM,GYM_NUM,GOLF_NUM,ACADEMY_NUM,ANIMAL_HSPT_NUM,BIKE_NUM,CAFE,CAR_SHR_NUM,CCTV_NUM,CHILD_MED_NUM,CON_NUM,DPTM_NUM
DONG_CODE,,,,,,,,,,,,,,,,,,,
1111010100,종로구,청운동,0,0,0,0,0,0,0,0,2,1,0,8,0,0,0,1,0
1111010200,종로구,신교동,0,0,0,0,0,0,0,0,5,1,0,1,0,0,0,0,0

In [134]:
sample_df.shape

(467, 19)

In [152]:
data = sample_df.iloc[:, 2:]
data.tail()

,SUBWAY_NUM,STARBUCKS_NUM,SAFE_DLVR_NUM,MC_NUM,KINDER_NUM,KIDS_NUM,GYM_NUM,GOLF_NUM,ACADEMY_NUM,ANIMAL_HSPT_NUM,BIKE_NUM,CAFE,CAR_SHR_NUM,CCTV_NUM,CHILD_MED_NUM,CON_NUM,DPTM_NUM
DONG_CODE,,,,,,,,,,,,,,,,,
1174010700,1,1,2,0,30,4,16,8,197,1,0,70,4,0,11,33,0
1174010900,1,4,3,1,70,6,14,7,124,1,0,131,17,0,12,68,1
1174010800,4,4,2,0,50,2,30,14,190,1,0,143,20,0,12,58,0
1174010500,0,2,1,0,20,1,18,9,100,1,0,63,10,0,10,38,0
1174010600,1,0,0,1,0,0,8,6,76,1,0,35,4,0,0,17,0

In [139]:
pop_df = pd.read_csv('POPU_DONG.csv',index_col=0,encoding='cp949')
pop_df.head(3)

            SI_DO   GU DONG  NUM_POPU      AREA
DONG_CODE
1111010100  서울특별시  종로구  청운동      2330  797032.5
1111010200  서울특별시  종로구  신교동      1393   99144.0
1111010300  서울특별시  종로구  궁정동       179   73042.7

In [140]:
pop_df = pop_df.drop(['SI_DO','GU','DONG'], axis=1)
pop_df['DENSITY'] = pop_df['NUM_POPU'] / pop_df['AREA']
pop_df

            NUM_POPU       AREA   DENSITY
DONG_CODE
1111010100      2330   797032.5  0.002923
1111010200      1393    99144.0  0.014050
1111010300       179    73042.7  0.002451
1111010400       572    59135.9  0.009673
1111010500       439    59706.1  0.007353
...              ...        ...       ...
1174010600     24311  2461511.8  0.009876
1174010700     66490  4711364.2  0.014113
1174010800     65873  1958987.6  0.033626
1174010900     85928  3065543.3  0.028030
1174011000     32911  2267204.2  0.014516

[467 rows x 3 columns]

In [151]:
init_df = pd.merge(sample_df, pop_df,left_index=True, right_index=True)
# a = init_df.iloc[:,2:] / init_df['DENSITY'].values

array([2.92334378e-03, 1.40502703e-02, 2.45062135e-03, 9.67263540e-03,
       7.35268256e-03, 1.50007252e-02, 1.23795089e-02, 1.46025823e-02,
       4.71504018e-03, 0.00000000e+00, 4.93962068e-03, 8.34649065e-04,
       1.61324231e-02, 1.16346916e-02, 1.77957053e-03, 1.16350357e-02,
       3.43080243e-05, 7.11104111e-03, 3.75324076e-02, 1.31066992e-03,
       2.38521448e-03, 6.75243872e-03, 1.09880211e-03, 3.71326546e-03,
       2.33176632e-03, 4.23751349e-03, 4.21999308e-03, 0.00000000e+00,
       2.66136160e-03, 4.46805230e-03, 9.96810814e-03, 1.57598140e-03,
       2.31232493e-03, 2.22200218e-02, 2.72149714e-02, 1.97572749e-02,
       2.04917573e-02, 3.76369460e-02, 3.00703753e-02, 3.31580257e-02,
       6.67934224e-03, 1.59546513e-03, 6.16733144e-03, 1.11910748e-02,
       1.20231559e-03, 2.11634389e-05, 2.43727074e-03, 1.30552138e-04,
       3.30250991e-03, 5.16476904e-05, 1.51279745e-03, 4.91838289e-03,
       1.55485669e-04, 4.12851905e-03, 2.35997483e-03, 2.27965814e-02,
       4.60177177e-03, 2.90420589e-03, 1.34812252e-03, 1.14187566e-02,
       1.24724006e-03, 0.00000000e+00, 1.30244371e-03, 1.47804215e-03,
       2.36047677e-02, 1.14752075e-03, 6.02054926e-03, 2.55294563e-03,
       1.27705735e-02, 6.84874617e-04, 6.80205087e-03, 6.02957274e-04,
       7.82340936e-03, 8.85306014e-03, 1.49727442e-03, 3.24496668e-03,
       2.08009011e-02, 1.44488723e-02, 5.61235653e-03, 1.01886655e-02,
       9.95528600e-03, 2.21475007e-02, 2.83697356e-02, 1.15325594e-02,
       1.16220575e-02, 2.42732612e-02, 2.62577236e-02, 1.21478786e-05,
       3.76988785e-03, 6.32164275e-04, 3.76486179e-05, 3.26757584e-04,
       5.47097828e-05, 8.20263401e-04, 2.42644408e-04, 1.74716161e-03,
       8.87674160e-03, 7.33920220e-03, 5.95821504e-05, 3.14728500e-03,
       3.41321210e-03, 7.72529470e-06, 1.09221687e-02, 1.24087736e-02,
       2.69287281e-04, 3.41779428e-04, 1.00391185e-03, 8.07238236e-05,
       1.60124513e-05, 5.33473222e-04, 0.00000000e+00, 1.46735681e-04,
       0.00000000e+00, 2.94267377e-05, 5.12378203e-04, 3.03129412e-03,
       4.12310496e-03, 4.60428849e-04, 4.54121064e-03, 6.36589612e-03,
       7.78838665e-03, 1.61037768e-03, 4.20357640e-04, 1.09992178e-03,
       2.68573029e-02, 1.12286923e-02, 1.46096288e-02, 3.16055626e-03,
       4.54223986e-03, 9.97836605e-03, 4.99412728e-03, 9.57654269e-04,
       2.53075185e-03, 5.66046569e-03, 1.11518669e-02, 6.29187184e-03,
       5.93744514e-04, 7.38929418e-03, 1.54998388e-02, 7.77409340e-03,
       8.74360826e-04, 5.77097504e-04, 1.05341983e-02, 2.20048865e-03,
       4.72691827e-03, 3.22360774e-03, 6.59870564e-04, 3.12741896e-03,
       7.07909115e-04, 3.44091178e-03, 1.52816406e-03, 1.74935352e-03,
       4.85193363e-03, 2.87637845e-02, 1.84589023e-02, 8.64187133e-03,
       3.85204735e-02, 2.67347766e-02, 2.01417475e-04, 1.88742232e-02,
       3.17479068e-02, 1.89308776e-02, 7.80659090e-03, 2.53390620e-06,
       1.26390293e-02, 9.04335736e-03, 0.00000000e+00, 1.27727485e-02,
       1.97721142e-02, 3.69725186e-02, 1.48925288e-02, 1.52572482e-02,
       3.32406006e-02, 1.27245225e-02, 5.05246622e-02, 1.91000310e-02,
       3.67998494e-02, 5.13764707e-02, 9.17601870e-03, 1.26103249e-02,
       1.17649250e-02, 2.41451093e-02, 6.02128470e-02, 3.26110769e-02,
       1.36086177e-02, 1.63380976e-02, 8.01108567e-04, 3.44043306e-03,
       6.83326103e-03, 8.13157954e-03, 1.04363364e-02, 6.52240714e-03,
       1.52678884e-02, 7.15612111e-03, 5.01052853e-03, 0.00000000e+00,
       1.81004253e-02, 4.90709718e-02, 2.38202197e-02, 2.28245495e-02,
       3.41745742e-02, 2.06654223e-02, 1.01238143e-02, 2.82874896e-02,
       2.69887961e-02, 3.37184614e-02, 3.26000479e-02, 3.80174564e-02,
       1.76400564e-02, 1.30759492e-02, 9.87223476e-03, 1.16290946e-02,
       7.12904387e-03, 7.21046528e-03, 2.09180843e-02, 2.65250508e-02,
       1.96090410e-02, 1.01889383e-02, 1.43066206e-02, 1.98571990e-02,
       2.59619549e-02, 1.10277609e-02, 2.35382230e-02, 2.05776683e-02,
       2.29717230e-02, 3.39867021e-02, 3.01605193e-02, 1.55395126e-02,
       1.39783350e-02, 2.25614813e-02, 2.18703256e-02, 2.26162853e-02,
       2.86646967e-02, 2.64778523e-02, 2.76903883e-02, 1.33140804e-02,
       1.65835599e-02, 3.96052572e-03, 2.26577700e-02, 1.52255440e-02,
       3.23751750e-02, 3.40884798e-02, 1.33588173e-02, 5.34675488e-03,
       2.66919235e-02, 2.09006883e-02, 2.47642011e-02, 2.23288459e-02,
       3.59812327e-02, 3.13534823e-02, 1.85461872e-02, 3.35508108e-02,
       1.45547444e-02, 2.18002415e-02, 2.99098621e-02, 2.72172364e-02,
       3.01325505e-02, 3.88116989e-02, 2.23090582e-02, 3.43575100e-02,
       1.65389927e-02, 4.26252703e-03, 2.27058371e-02, 3.15408918e-02,
       4.33342149e-02, 1.39084382e-02, 2.45115531e-02, 3.18826817e-02,
       2.33363078e-02, 9.43185901e-03, 4.36188913e-02, 2.22093765e-02,
       2.62737441e-02, 1.77722810e-02, 2.62190744e-02, 1.99738158e-02,
       2.97872371e-02, 1.85607217e-02, 1.35632017e-02, 1.23097816e-03,
       2.74953341e-02, 4.90343200e-03, 2.67793456e-02, 1.83010237e-02,
       1.78412395e-02, 9.52354276e-03, 2.38693624e-02, 1.97537579e-02,
       1.27095775e-02, 2.03967312e-02, 1.44129033e-02, 2.47851132e-02,
       2.30908736e-02, 3.12442789e-02, 3.25126623e-02, 3.85030972e-02,
       2.51618620e-02, 2.28181357e-02, 1.01451801e-02, 4.76763767e-03,
       2.59616596e-02, 3.10741084e-02, 1.82364537e-02, 2.24124750e-02,
       9.85261559e-03, 2.58937524e-02, 9.21112094e-03, 1.97657251e-02,
       2.58673445e-02, 5.70885115e-03, 1.39395687e-02, 5.87336926e-03,
       9.49862804e-04, 8.98796455e-04, 1.81502250e-02, 1.14996853e-02,
       1.74322625e-02, 1.33579868e-02, 3.65512012e-02, 3.46665539e-02,
       3.20725275e-02, 3.31571720e-02, 3.28701642e-02, 5.16037569e-02,
       3.69469958e-02, 1.18006794e-02, 2.48181187e-02, 1.05652941e-02,
       2.73106307e-02, 1.91392819e-02, 2.61350006e-02, 2.66995786e-02,
       1.51800534e-02, 1.35235613e-02, 3.12568089e-02, 1.31419735e-02,
       1.54116055e-02, 3.21854379e-03, 1.67006596e-02, 8.94732240e-03,
       9.73583007e-03, 2.17292448e-02, 2.27319184e-02, 1.88840895e-02,
       2.93801627e-02, 3.62589034e-03, 2.76097959e-02, 2.43939874e-02,
       2.44481265e-02, 2.38724525e-02, 1.80520335e-02, 2.84548746e-02,
       3.46195316e-02, 1.01622514e-02, 2.71874260e-02, 7.48028539e-04,
       6.20888951e-03, 1.48286927e-02, 0.00000000e+00, 2.95125944e-06,
       6.07142854e-06, 3.52722254e-04, 2.45112059e-02, 2.19905716e-02,
       2.18995575e-02, 2.20357796e-02, 2.86974098e-02, 1.95453693e-02,
       1.10387379e-02, 7.75959368e-03, 1.06892597e-02, 1.14605244e-02,
       9.62825932e-03, 2.45586307e-02, 1.63491205e-02, 2.37042792e-02,
       2.89092266e-02, 4.78038676e-02, 1.25671040e-02, 1.44403965e-02,
       7.15154373e-03, 1.91880621e-02, 1.95842693e-02, 3.37086433e-02,
       3.01066202e-02, 3.86954149e-03, 3.05488612e-02, 2.85736202e-02,
       2.51231242e-02, 4.35607722e-02, 4.44749778e-02, 2.03548377e-02,
       9.96425848e-03, 3.00911567e-02, 1.50370884e-03, 7.65705108e-03,
       2.03173135e-02, 1.12514885e-02, 1.51769669e-02, 3.32426024e-02,
       2.17704883e-02, 3.76261905e-02, 2.54732173e-02, 1.78592970e-02,
       2.67240776e-02, 3.12120381e-02, 0.00000000e+00, 0.00000000e+00,
       2.39891803e-02, 2.12784110e-02, 1.45369562e-02, 3.23957535e-02,
       3.05155391e-02, 1.80961564e-02, 2.98811925e-02, 2.62392748e-03,
       2.44523812e-02, 2.74750689e-02, 2.75186471e-02, 5.51731034e-03,
       1.34600325e-02, 1.69220396e-02, 1.44876534e-02, 1.59015085e-02,
       1.44586973e-02, 8.87177286e-03, 6.71191501e-03, 5.20306065e-05,
       1.02322294e-03, 6.01393370e-04, 2.88422565e-03, 6.52339568e-03,
       1.12690943e-02, 1.55363723e-02, 1.08203940e-02, 1.35916015e-02,
       2.11691037e-02, 2.04930788e-02, 2.64882764e-02, 1.13656183e-02,
       1.43257857e-02, 6.04830735e-03, 9.31878860e-03, 2.98838624e-03,
       8.52425143e-03, 1.56260769e-02, 2.18642897e-02, 2.49914132e-02,
       1.32700173e-02, 2.29610900e-02, 3.23179098e-02, 3.29069986e-02,
       3.11211311e-02, 2.46728144e-02, 2.37788159e-02, 1.59190838e-02,
       2.03265888e-02, 8.67862464e-03, 1.45161164e-02, 1.73833360e-02,
       2.72458621e-02, 1.15219474e-02, 1.41126852e-02, 2.80302679e-02,
       3.36260423e-02, 2.79852171e-02, 9.87645072e-03])

### 1.2 유저 데이터 입력 및 스케일링

In [13]:
user = [2,1,3,2,1,4,1,3,4,1,0,0,0,1,0,0,1]

In [14]:
len(user)

17

In [15]:
def user_transform(user): # min_Max Scaling 함수
    user_min = min(user)
    user_max = max(user)
    
    user_scaled = []
    for u in user:
        x = (u - user_min) / (user_max - user_min)
        user_scaled.append(x)
    return user_scaled

In [17]:
user_scaled = user_transform(user)
print(user_scaled)

[0.5, 0.25, 0.75, 0.5, 0.25, 1.0, 0.25, 0.75, 1.0, 0.25, 0.0, 0.0, 0.0, 0.25, 0.0, 0.0, 0.25]

### 1.3 가중치 matrix

In [8]:
# 임시 가중치 matrix 생성
weight = [[1,0,0,0,0,0,0.2,0.2,0,0,0,0.5,0,0.3],
          [0,1,0.3,0,0,0,0.7,0,0,0,0,0,0.1,0],
          [0,0,1,0,0,0,0.3,0,0,0,0,0,0,0],
          [0,0,0,1,0,0,0,0,0.2,0,0,0.1,0,0],
          [0,0,0,0,1,0,0,0,0,0,0.6,0,0,0],
          [0,0,0,0,0,1,0,0,0,0,0,0,0,0],
          [0,0,0.6,0,0,0,1,0,0.3,0,0,0,0,0],
          [0,0.2,0,0,0,0,0,1,0,0,0,0.7,0,0],
          [0,0,0,0,0,0,0,0,1,0,0,0.4,0,0],
          [0,0,0,0.3,0,0,0,0,0,1,0,0.2,0,0],
          [0,0,0,0,0.5,0,0,0,0,0,1,0,0,0],
          [0,0,0,0.8,0,0.3,0,0,0,0,0,1,0,0],
          [0,0,0,0,0.6,0,0,0,0.2,0,0,0,1,0],
          [0,0,0.3,0,0,0,0,0.6,0,0,0,0,0,1]]

## 2. 군집화

### 2.1 군집화 및 분류 결과 확인

In [24]:
kmeans = KMeans(n_clusters=3, init='k-means++',max_iter=300,random_state=0)
kmeans.fit(data)

KMeans(n_clusters=3, random_state=0)

In [25]:
kmeans.labels_
df = sample_df.copy()
df['km_cluster'] = kmeans.labels_
df.groupby('km_cluster').count()

,GU,DONG,SUBWAY_NUM,STARBUCKS_NUM,SAFE_DLVR_NUM,MC_NUM,KINDER_NUM,KIDS_NUM,GYM_NUM,GOLF_NUM,ACADEMY_NUM,ANIMAL_HSPT_NUM,BIKE_NUM,CAFE,CAR_SHR_NUM,CCTV_NUM,CHILD_MED_NUM,CON_NUM,DPTM_NUM
km_cluster,,,,,,,,,,,,,,,,,,,
0,396,396,396,396,396,396,396,396,396,396,396,396,396,396,396,396,396,396,396
1,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68

### 2.2 사용자 분류

In [18]:
def user(user_scaled,user_name):
    user_df = pd.DataFrame(columns=col,index=[user_name])
    user_df.loc[user_name] = user_scaled
    cluster_user = kmeans.predict(user_df)
    user_df['km_cluster'] = cluster_user
    return user_df

In [19]:
user_df = user(user_scaled,'user')
user_df

,A,B,C,D,E,a,b,c,d,e,f,g,h,i,km_cluster
user,0.75,0.125,1.0,0.5,1.0,0.125,0.0,0.125,0.0,0.125,0.125,0.0,0.125,0.125,1

In [20]:
# 유저의 군집에 해당하는 지역 추출 함수
def recommand_area(df, user_df, user_name): # 지역 데이터, 유저 데이터, 유저 이름
    rc_area = user_df['km_cluster'].loc[user_name] # 해당 유저의 군집
    rc_seoul = df[df['km_cluster'] == rc_area] # 서울시 내 군집 지역 추출
    rc_list = rc_seoul.index.tolist() # 추천 리스트
    return rc_seoul, rc_list

In [21]:
rc_seoul = recommand_area(df,user_df,'user')[0]
rc_list = recommand_area(df,user_df,'user')[1]

In [22]:
rc_list # 'user'가 해당하는 군집에 속한 서울 동 리스트

['삼청동',
 '혜화동',
 '명동',
 '필동',
 '약수동',
 '동화동',
 '이태원2동',
 '원효로1동',
 '성수1가2동',
 '능동',
 '청량리동',
 '중화2동',
 '면목3.8동',
 '인수동',
 '창3동',
 '도봉2동',
 '월계2동',
 '중계1동',
 '녹번동',
 '대조동',
 '응암2동',
 '천연동',
 '홍제3동',
 '남가좌1동',
 '용강동',
 '대흥동',
 '아현동',
 '신월3동',
 '신월6동',
 '등촌1동',
 '공항동',
 '방화1동',
 '구로2동',
 '개봉2동',
 '가리봉동',
 '당산2동',
 '신길3동',
 '신길5동',
 '신길6동',
 '대림3동',
 '영등포본동',
 '상도4동',
 '신대방2동',
 '사당2동',
 '청림동',
 '낙성대동',
 '중앙동',
 '조원동',
 '내곡동',
 '대치4동',
 '도곡2동',
 '일원본동',
 '압구정동',
 '청담동',
 '오륜동',
 '장지동',
 '잠실3동',
 '잠실4동',
 '길동',
 '강일동',
 '암사2동',
 '성내2동']

### 2.3 유사도 측정

In [39]:
def similarity(user_df, df, user_name, num): # 유저 데이터, 유사도 측정을 위한 데이터, 유저 이름, 원하는 순위
    con_data = pd.concat([user_df.loc[[user_name]],df])
    rc_sim = cosine_similarity(con_data,con_data)
    sim_matrix = pd.DataFrame(rc_sim,columns=con_data.index).loc[[0]].T
    rank = sim_matrix[0].sort_values(ascending=False) # 유사도 순서로 정렬
    ranking = rank[1:num+1].index.tolist() # 1~n 위 리스트
    return ranking

In [42]:
ranking = similarity(user_df,df,'user',4)
cluster_rank = similarity(user_df,rc_seoul,'user',4)

**겹치는 지역 제거**

In [81]:
def concat_df(rank_1,rank_2): # 두 집단 병합 및 겹침 제거 함수
    tmp_1 = df.loc[rank_1]
    tmp_2 = df.loc[rank_2]
    x = pd.concat([tmp_1,tmp_2])
    x.reset_index(inplace=True)
    x = x.drop_duplicates(['동이름'])
    x.loc[:4]
    x.set_index('동이름',inplace=True)
    del(x['km_cluster'])
    return x

In [82]:
con_df = concat_df(ranking,cluster_rank)
con_df

        A    B    C    D    E    a    b    c    d    e    f    g    h    i
동이름
청림동   0.9  0.2  0.9  0.7  0.9  0.5  0.4  0.4  0.4  0.6  0.4  0.3  0.1  0.8
개봉2동  1.0  0.3  1.0  0.7  0.8  0.7  0.1  0.3  0.8  0.3  0.3  0.4  0.3  0.4
대치4동  0.6  0.5  0.5  0.2  1.0  0.2  0.5  0.2  0.1  0.6  0.1  0.2  0.2  0.1
월계2동  0.9  0.1  1.0  0.1  0.8  0.5  0.1  0.4  0.3  0.6  0.9  0.5  0.3  0.2

In [90]:
def weighting(df, weight): # 가중치 부여 된 데이터 프레임 생성 함수
    data = df.values
    w = [0] * 14
    for i in range(len(weight)):
        if(user_df.loc['user'][i] != 0):
            for k in range(len(weight)):
                w[i] += weight[i][k]
    modified = []
    for k in range(len(data)):
        modi = []
        for i in range(len(w)):
            mod = data[k][i] * (1 + w[i])
            modi.append(mod)
        modified.append(modi)
    weighted_df = pd.DataFrame(modified,index=df.index,columns=col)
    return weighted_df

In [107]:
weighted_df = weighting(con_df,weight)
weighted_df

,A,B,C,D,E,a,b,c,d,e,f,g,h,i
동이름,,,,,,,,,,,,,,
청림동,2.88,0.62,2.07,1.61,2.34,1.0,0.4,1.16,0.4,1.50,1.00,0.3,0.28,2.32
개봉2동,3.20,0.93,2.30,1.61,2.08,1.4,0.1,0.87,0.8,0.75,0.75,0.4,0.84,1.16
대치4동,1.92,1.55,1.15,0.46,2.60,0.4,0.5,0.58,0.1,1.50,0.25,0.2,0.56,0.29
월계2동,2.88,0.31,2.30,0.23,2.08,1.0,0.1,1.16,0.3,1.50,2.25,0.5,0.84,0.58

In [133]:
def ranking(weighted_df): # 가중치 데이터 프레임으로 3위까지
    sums = []
    for i in range(len(weighted_df.index)):
        sums.append(weighted_df.iloc[i].sum())
    weighted_df['sum'] = sums
    oh = weighted_df.T.loc['sum'].sort_values(ascending=False)
    x = pd.DataFrame(oh).index.tolist()[0:3]
    return x

In [135]:
x = ranking(weighted_df)
x

['청림동', '개봉2동', '월계2동']